// -------------------------------------------------------------------
// Author
// -------------------------------------------------------------------

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 1.25em;
}

.site-footer {
  margin-top: 8em;
}
